{% extends 'account/base.html.twig' %}

{% block header_content %}
    Accueil 
{% endblock %}

{% block body_content %}
	<h3>Bienvenu {{ app.user.username|lower|title }}</h3>
	<div class="row">
        <div class="col-lg-3 col-xs-6">
         	<!-- small box -->
          	<div class="small-box bg-purple">
            	<div class="inner">
              		<h3>0</h3>
              		<p>Ma matrice</p>
            	</div>
            
            	<div class="icon">
              		<i class="fa fa-share-alt"></i>
            	</div>
            	<a href="" class="small-box-footer">
                    N1: 0 &nbsp;
                    N2: 0 &nbsp;
                    N3: 0 &nbsp;   
                </a>
          	</div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
        	<!-- small box -->
          	<div class="small-box bg-purple">
            	<div class="inner">
              		<h3>0</h3>

              		<p>Mes Filleuls</p>
            	</div>
            	
            	<div class="icon">
              		<i class="fa fa-users"></i>
            	</div>
            	<a href="" class="small-box-footer">
                    Voir plus <i class="fa fa-arrow-circle-right"></i>
                </a>
          	</div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>0 CC</h3>

                    <p>Bonus Novus Customer</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a href="" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
        	<!-- small box -->
          	<div class="small-box bg-purple">
            	<div class="inner">
              		<h3>0 CC</h3>

              		<p>Bonus de Groupe</p>
            	</div>
            	<div class="icon">
              		<i class="fa fa-money"></i>
            	</div>
            	<a href="" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
          	</div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>0 CC</h3>

                    <p>Leadership Bonus</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a href="" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>0 CC</h3>

                    <p>Bonus Total</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a href="" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
{% endblock %}